@media (width <= 1560px) {
  .third-panel__tab {
    flex: 1;
    text-align: center;
  }
}
@media (width <= 1100px) {
  .first-panel > div.control {
    padding-right: 20px;
  }
  .icon.burger {
    font-size: 26px;
  }
  .will-removed {
    display: none;
  }
  .third-panel__tab {
    flex: 1;
    text-align: center;
  }
  .control-panel__segment-text {
    display: none;
  }
  .control-panel__segment-icon {
    font-size: 25px;
    font-family: Inter-Bold;
  }
}
@media (width <= 680px) {
  p.date {
    text-align: start;
  }
  div.control-panel {
    margin-top: 10;
  }
  div.mobile-tab {
    margin-top: 10px;
    background-color: white;
  }

  .third-panel__content-wrapper {
    background-color: white;
  }
  .mobile-control.control > * {
    font-size: 22px;
    color: #414f51;
  }
  .will-removed {
    display: contents;
  }
  div.title-wrapper {
    display: none;
  }
  .mobile-wrapper__input-vacancy-name {
    display: flex;
    margin-top: 20px;
  }
  p.date {
    background-color: rgb(245, 245, 245);
    padding: 10px 15px 10px 15px;
  }
  .table-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .caption {
    color: gray;
  }
  .mobile-wrapper-table {
    display: none;
  }
  .mobile-wrapper__row {
    display: inherit;
    display: flex;
    align-items: center;
    min-height: 50px;
  }
  .mobile-wrapper__row-extra-content {
    padding-left: 5px;
  }
  .mobile-wrapper__row:not(.mobile-wrapper__row-vacancy-name):not(
      .mobile-wrapper__row-edit
    ) {
    border-bottom: 1px solid lightgray;
  }
  .mobile-wrapper__row-extra-content {
    display: inherit;
  }
  .table.vacancies {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .table__row-item {
    height: 100%;
    border: none;
    overflow: hidden;
  }
  .table__row-item:not(.non-border) {
    border-left: 1px solid lightgray;
  }

  .mobile-wrapper__row-edit {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
  .row-wrapper:hover > div > div.selectable {
    background-color: initial;
  }
  .row-wrapper:hover > div > div > span.control-edit {
    color: var(--light-blue);
  }
  .icon.control-edit.delete:hover {
    color: rgb(66, 66, 216);
  }
  .mobile-wrapper__row-edit > div {
    flex: 1;
  }
  .mobile-wrapper__row-vacancy-name {
    grid-area: vacancy-name;
    background-color: #67d6ef;
    min-height: 50px;
  }
  p.table__row-item-vacancy-name {
    color: white;
  }
  p.source {
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile-wrapper__row-number {
    grid-area: number;
  }
  .mobile-wrapper__row-id {
    grid-area: id;
  }
  .mobile-wrapper__row {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .mobile-wrapper__row-edit {
    grid-area: edit;
  }
  .mobile-wrapper__row-source {
    grid-area: source;
  }
  .mobile-wrapper__row-date {
    grid-area: date;
  }
  .row-wrapper {
    display: grid;
    grid-template-areas:
      "vacancy-name vacancy-name"
      "number number"
      "id id"
      "source source"
      "date date"
      "edit edit";
  }
  .tab > p {
    font-size: 20px;
  }
  .pagination__page-number {
    width: 40px;
    height: 40px;
  }
  p.third-panel__tab-text {
    font-size: 20px;
    color: #414141 !important;
  }
  .control-panel {
    width: 100%;
  }
  .pagination {
    display: contents;
  }
  .pagination__specify-page {
    display: none;
  }
  .pagination__specify-page > input {
    width: 50px;
    height: 45px;
  }
  .pagination__pages-control {
    width: 100%;
    justify-content: space-between;
  }
  .pagination__specify-page-text {
    display: none;
  }
  .pagination__go-button {
    width: 50px;
    height: 45px;
  }
  .row {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    height: auto;
  }
  #second_specifier {
    display: none;
  }
  *[tooltip]:hover::after {
    width: fit-content;
  }
  .panels {
    display: grid;
    grid-template-areas:
      "exit first-panel"
      "mobile-tab mobile-tab"
      "second-panel third-panel";
  }
  .mobile-tab {
    height: 32px;
    display: flex;
    background-color: var(--blue);
    color: white;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    grid-area: mobile-tab;
    justify-content: space-between;
  }
  .third-panel__tab-icon {
    display: none;
  }
  .first-panel {
    grid-area: first-panel;
  }
  .second-panel__tab {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    flex: 1;
    color: white;
  }
  .tab_active {
    background-color: initial;
  }
  .second-panel__tab:hover {
    background-color: initial !important;
  }
  .second-panel__tab > p {
    padding: 5px;
    width: 100%;
    text-align: left;
    color: #414141;
  }
  .second-panel {
    padding-top: 10px;
    display: flex;
    grid-area: second-panel;
    flex-direction: column;
    height: 100%;
    background-color: transparent;
  }
  .third-panel {
    padding-top: 10px;
    background-color: transparent;
    grid-area: third-panel;
    height: 100%;
  }
  .third-panel__tab-text {
    text-transform: capitalize;
    font-size: 14px;
  }
  .third-panel,
  .third-panel__content-wrapper {
    flex-direction: column;
  }
  .third-panel__content-wrapper {
    align-items: end;
  }
  .control,
  .first-panel {
    display: none;
  }
  .mobile-control.control {
    grid-area: exit;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  .mobile-control-wrapper__grid-nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-left: 20px;
  }
  .mobile-control-wrapper__grid-first-panel {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: white;
    flex-basis: 80px;
    align-items: center;
    padding-left: 16px;
  }
  .mobile-control-wrapper__grid-first-panel > span {
    color: #414141;
    font-size: 30px;
  }
  .mobile-control-wrapper__grid-first-panel > p {
    color: #414141;
    font-size: 30px;
  }
  .mobile-control-wrapper__grid-nav > span {
    color: gray;
    font-size: 20px;
  }
  .mobile-control-wrapper__grid-nav > p {
    color: #414141;
    font-size: 20px;
    padding-left: 10px;
  }
  .mobile-control-wrapper__grid-down {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
  .mobile-control-wrapper__grid-nav-wrapper {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 140;
    flex: 1;
    padding-top: 20px;
  }
  .mobile-control-wrapper__grid {
    background-color: transparent;
    display: flex;
  }
}

@media (width <= 450px) {
  .mobile-menu-mini {
    display: none;
    position: fixed;
    top: 0;
    padding-bottom: 50px;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    background-color: white;
  }
  #mobile-menu-wrapper {
    display: none !important;
  }
  .mobile-control.control {
    display: none;
  }
  .mobile-tab {
    display: none;
  }
  .panels {
    display: flex;
  }
  .first-panel {
    display: flex;
  }
  div.control,
  div.first-panel {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  div.mobile-control-wrapper__grid {
    z-index: 101;
    display: flex;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    flex-direction: column;
    justify-content: end;
  }
  .mobile-control-wrapper__grid-control {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: white;
    filter: drop-shadow(black 0px -2px 10px);
  }
  .mobile-control-wrapper__grid-control-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-control-wrapper__grid-control-wrapper > p {
    font-size: 12px;
    text-align: center;
  }
  .mobile-control-wrapper__grid-control-wrapper > span {
    color: #333333;
  }
}

@media (width <= 390px) {
  .table__row-item > p {
    font-size: 14px;
  }

  .mobile-wrapper__row-extra-content {
    font-size: 14px;
  }
}
