@media (width <= 1560px) {
  .third-panel__tab {
    flex: 1;
    text-align: center;
  }
}
@media (width <= 1250px) {
  .second-panel__tab {
    font-size: 16px;
  }
  .third-panel__tab-text {
    font-size: 16px;
  }
}
@media (width <= 1150px) {
  .second-panel__tab {
    font-size: 14px;
  }
  .third-panel__tab-text {
    font-size: 14px;
  }
  .panels__panel > div:first-child {
    padding-left: 5px;
  }
  .panels__panel > div:last-child {
    padding-right: 5px;
  }
}
@media (width <= 1100px) {
  .first-panel > div.control {
    padding-right: 20px;
  }
  .icon.burger {
    font-size: 26px;
  }
  .will-removed {
    display: none;
  }
  .third-panel__tab {
    flex: 1;
    text-align: center;
  }
  /* .control-panel__segment-text {
    display: none;
  } */
  .control-panel__segment-icon {
    font-size: 25px;
    font-family: Inter-Bold;
  }
}

@media (width <= 880px) {
  div.control {
    display: flex;
    padding-left: 18px;
    padding-right: 50px;
    width: 100%;
    box-sizing: border-box;
    justify-content: end;
  }
  .mobile-control__menu-button {
    display: flex;
    width: 100%;
    background-color: var(--blue);
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    height: 35px;
    box-sizing: border-box;
    font-size: 18px;
  }
  .mobile-control__menu-button > * {
    color: inherit;
    font-size: inherit;
  }
  .mobile-control__menu-button > span {
    font-size: 24px;
    cursor: pointer;
  }
  .panels {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
  }
  div#mobile-menu-wrapper {
    display: none;
    grid-template-rows: repeat(9, 1fr);
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  .panels__panel > div:first-child {
    padding: 0;
  }
  .second-panel__tab {
    background-color: var(--blue);
    color: white;
  }
  .second-panel__tab > p {
    font-size: 18px;
    text-align: left;
    width: 100%;
    padding-left: 50px;
  }
  .third-panel__tab > * {
    font-size: 18px;
    color: inherit;
    text-transform: capitalize;
  }
  .third-panel__tab-text {
    width: 100%;
    text-align: end;
    padding-right: 60px;
  }
  .third-panel__tab-icon.icon {
    display: none;
  }
  .third-panel__tab {
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  .pagination {
    display: flex;
    margin-top: 20px;
  }
  p.date {
    text-align: start;
  }
  div.control-panel {
    margin-top: 10;
  }
  div.mobile-tab {
    margin-top: 10px;
    background-color: white;
  }

  .third-panel__content-wrapper {
    background-color: white;
  }
  .mobile-control.control > * {
    font-size: 22px;
    color: #414f51;
  }
  div.title-wrapper {
    display: none;
  }
  .mobile-wrapper__input {
    display: flex;
    margin-top: 20px;
  }
  p.date {
    background-color: rgb(245, 245, 245);
    padding: 10px 15px 10px 15px;
  }
  .table-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .caption {
    color: gray;
  }
  .mobile-wrapper-table {
    display: none;
  }
  .mobile-wrapper__row {
    display: inherit;
    display: flex;
    align-items: center;
    min-height: 50px;
  }
  .mobile-wrapper__row-extra-content {
    padding-left: 5px;
  }
  .mobile-wrapper__row:not(.mobile-wrapper__row-vacancy-name):not(
      .mobile-wrapper__row-edit
    ) {
    border-bottom: 1px solid lightgray;
  }
  .mobile-wrapper__row-extra-content {
    display: inherit;
  }
  .table.vacancies {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .table__row-item {
    height: 100%;
    border: none;
    overflow: hidden;
  }
  .table__row-item:not(.non-border) {
    border-left: 1px solid lightgray;
  }

  .mobile-wrapper__row-edit {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }
  .row-wrapper:hover > div > div.selectable {
    background-color: initial;
  }
  .row-wrapper:hover > div > div > span.control-edit {
    color: var(--light-blue);
  }
  .icon.control-edit.delete:hover {
    color: rgb(66, 66, 216);
  }
  .mobile-wrapper__row-edit > div {
    flex: 1;
  }
  .mobile-wrapper__row-vacancy-name {
    grid-area: vacancy-name;
    background-color: #67d6ef;
    min-height: 50px;
  }
  .table__row-item-vacancy-name {
    grid-column-start: span 2;
  }
  p.table__row-item-vacancy-name-text {
    color: white;
  }
  p.source {
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .mobile-wrapper__row-number {
    grid-area: number;
  }
  .mobile-wrapper__row-id {
    grid-area: id;
  }
  .mobile-wrapper__row {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .mobile-wrapper__row-edit {
    grid-area: edit;
  }
  .mobile-wrapper__row-source {
    grid-area: source;
  }
  .mobile-wrapper__row-date {
    grid-area: date;
  }
  .row-wrapper {
    display: grid;
    grid-template-areas:
      "vacancy-name vacancy-name"
      "number number"
      "id id"
      "source source"
      "date date"
      "edit edit";
  }
  .pagination__page-number {
    width: 40px;
    height: 40px;
  }
  .control-panel {
    width: 100%;
  }
  .pagination__specify-page {
    display: none;
  }
  .pagination__specify-page > input {
    width: 50px;
    height: 45px;
  }
  .pagination__pages-control {
    width: 100%;
    justify-content: space-between;
  }
  .pagination__specify-page-text {
    display: none;
  }
  .pagination__go-button {
    width: 50px;
    height: 45px;
  }
  .row {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    height: auto;
  }
  #second_specifier {
    display: none;
  }
  *[tooltip]:hover::after {
    width: fit-content;
  }
}

@media (width <= 750px) {
  .pagination {
    display: none;
  }
}

@media (width < 640px) {
  .mobile-menu-mini {
    display: none;
    position: fixed;
    top: 0;
    padding-bottom: 50px;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    background-color: white;
  }
  #mobile-menu-wrapper {
    display: none;
  }
  .mobile-control.control {
    display: none;
  }
  .mobile-tab {
    display: none;
  }
  .panels {
    display: flex;
  }
  .first-panel {
    display: flex;
  }
  div.control,
  div.first-panel {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  div.mobile-control-wrapper__grid {
    z-index: 101;
    display: flex;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    flex-direction: column;
    justify-content: end;
  }
  .mobile-control-wrapper__grid-control {
    position: fixed;
    bottom: 0;
    width: 100%;
    gap: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    filter: drop-shadow(black 0px -2px 10px);
  }
  .mobile-control-wrapper__grid-control-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .mobile-control-wrapper__grid-control-wrapper > p {
    font-size: 12px;
    text-align: center;
  }
  .mobile-control-wrapper__grid-control-wrapper > span {
    color: #333333;
  }

  .table__row-item-vacancy-name {
    width: 100%;
  }
  .table__row-item {
    box-sizing: border-box;
  }
  input {
    height: 50px;
    box-sizing: border-box;
  }
}

@media (width <= 390px) {
  .table__row-item > p {
    font-size: 14px;
  }

  .mobile-wrapper__row-extra-content {
    font-size: 14px;
  }
}
