html,
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  cursor: inherit;
}
input{
  outline: none;
  font-family: Inter;
  padding: 5px;
}
div{
  cursor: default;
}

*.medium {
  font-family: "Inter-Medium";
}

.dimmer{
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}

.mobile-menu-mini{
  display: none;
}

.litle-cross{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  color: rgb(133, 133, 133) !important;
  font-size: 20px;
  z-index: 5;
}

.sort{
  cursor: pointer;
}

.litle-cross:hover{
  color: rgb(65, 65, 65) !important;

  position: absolute;
}

body {
  --dark-gray: #414f51;
  --blue: #00b0d9;
  --yellow: #ffe300;
  --green: #4fa95d;
  --light-blue: #80d8ec;
  --orange: #ffe6b8;
  --dark-orange: #eaa217;
  --light-green: #d4f6e5;
}

.mobile-control-wrapper__grid{
  display: none;
}

.mobile-control-wrapper__grid-nav-wrapper{
  display: none;
}
.mobile-control-wrapper__grid-control{
  display: none;
}
.main-container{
  padding-bottom: 50px;
  overflow-x: hidden;
}

.will-removed{
  display: contents;
}

.control-panel__segment-text{
  padding-left: 8px;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



.green {
  color: var(--green);
}

@font-face {
  font-family: Icons;
  src: url("./assets/fonts/icomoon.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter/Inter-Regular.otf");
}
@font-face {
  font-family: Inter-Medium;
  src: url("./assets/fonts/Inter/Inter-Medium.otf");
}

@font-face {
  font-family: Inter-Bold;
  src: url("./assets/fonts/Inter/Inter-Bold.otf");
}

*[tooltip] {
  position: relative;
}
*[tooltip]:hover::before {
  z-index: 3;
  content: '';
  position: absolute;
  transform: translateY(20px);
  border: 20px solid transparent;
  border-bottom: 20px solid #D9D9D9;
}
*[tooltip]:hover::after {
  z-index: 3;
  font-size: 18px;
  width: fit-content;
  box-sizing: border-box;
  bottom: 0;
  transform: translateY(calc(100% + 15px));
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: #D9D9D9;
  position: absolute;
  content: attr(tooltip);
  color: gray;
  font-family: Inter;
}
span.icon {
  font-family: Icons;
  color: white;
}

input[type="text"] {
  font-family: Inter;
}
.edit:hover > *{
  color: var(--blue) !important;

}
.edit:hover{
  cursor: pointer;
}
.panels{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panels__panel{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.first-panel {
  background-color: var(--dark-gray);
  height: 35px;
  justify-content: center;
  width: 100%;
}

.control {
  width: 100%;
  max-width: 1700px;

  align-items: center;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: end;
  padding-right: 80px;
  box-sizing: border-box;
}


.control > *{
  font-size: 20px;
}

.second-panel {
  justify-content: space-between;
  max-width: 1700px;
  align-items: center;
  height: 88px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.second-panel__tab{
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

.tab {
  color: gray;
  font-size: 20px;
  flex: 1;
  text-align: center;
}

.second-panel .tab:hover {
  background-color: var(--blue);
  color: white;
}

.second-panel .tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab_active {
  background-color: var(--blue);
}
.tab_active > p {
  color: white;
}

.second-panel .tab > span.icon {
  font-size: 35px;
}

.second-panel .tab:hover > span.icon {
  color: white;
}
.mobile-control__menu-button{
  display: contents;
}
.mobile-control__menu-button > *{
  color: var(--blue) !important;
  font-size: 22px;
}
.third-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--blue);
  height: 88px;
}
.third-panel__content-wrapper{
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1700px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.third-panel__tab{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.third-panel__tab-icon{
  font-size: 35px;
}

.third-panel__tab-text{
  font-size: 15px;
  text-transform: uppercase;
  color: white;
}

.row{
  display: contents;
}

.table-wrapper{
  display: contents;
  width: 100%;
  height: 500px;
  overflow-x: auto;
  padding: 0;
  margin-bottom: 20px;
}

.table-wrapper::-webkit-scrollbar  {
  width: 9px;               /* ширина scrollbar */
}
.table-wrapper::-webkit-scrollbar:horizontal{
  height: 9px;
}
.table-wrapper::-webkit-scrollbar-track {
  background: lightgray;        /* цвет дорожки */
}
.table-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  /* padding вокруг плашки */
}

.mobile-wrapper{
  display: contents;
  width: 100%;
}

.mobile-tab{
  display: none;
}

.control-panel {
  margin-top: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1700px;
  justify-content: space-between;
  border: 1px solid lightgray;
  background-color: white;
}

p{
  color: inherit;
}

.delete-everything:hover{
  background-color: red;
  color: white;
}

.control-panel__segment-icon{
  font-size: 20px;
}

.icon.deselect.active {
  color: red;
}
.control-panel__segment {
  color: gray;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid lightgray;
  flex: 1;
}

.control-panel__segment > * {
  cursor: pointer;
}
.control-panel__segment > * > * {
  cursor: pointer;
}

.control-panel__segment > p {
  color: inherit;
  font-size: 18px;
}
.control-panel__segment > span.icon {
  color: inherit;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  width: 100%;
  max-width: 1700px;
}

.pagination {
  width: 100%;
  margin-top: 70px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination__specify-page {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.pagination__specify-page > input {
  box-sizing: border-box;
  width: 76px;
  height: 100%;
  outline: none;
  border: 2px solid lightgray;
  font-size: 15px;
  padding: 10px;
  color: #414141;
}
.pagination__pages-control {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.icon-red:hover{
  color: red !important;
}

.mobile-wrapper-table{
  display: contents;
}
.mobile-wrapper__row{
  display: contents;
}
.mobile-wrapper__row-extra-content{
  display: none;
}
.mobile-wrapper__input-vacancy-name{
  display: none;
  gap: 5px;
  align-items: center;
  width: 100%;
  position: relative;
}
.mobile-wrapper__input-vacancy-name > span{
  font-size: 20px;
  position: absolute;
  transform: translateX(5px);
}
.mobile-wrapper__input-vacancy-name > input{
  width: 100%;
  border: 1px solid gray;
  padding-left: 25px;
}
.pagination__page-number {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 2px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.pagination__page-number.active {
  background-color: var(--blue);
  color: var(--yellow);
}
.pagination__page-number > * {
  cursor: pointer;
}
.pagination__page-number.inactive {
  border: 2px solid lightgray;
  color: lightgray;
  cursor: default;
}
.pagination__page-number.inactive > span.icon {
  color: lightgray;
  cursor: default;
}

.pagination__page-number.inactive:hover {
  color: lightgray;
  border: 2px solid lightgray;
  background: none;
  cursor: default;
}
.pagination__page-number.inactive:hover > span.icon {
  color: lightgray;
  cursor: default;
}
.pagination__page-number.inactive:hover > p {
  cursor: default;
}
.page-control-element > p {
  cursor: pointer;
}
.page-control-element > span.icon {
  cursor: pointer;
  color: var(--blue);
  transition: 0.5s;
}
.page-control-element:hover > span.icon {
  transition: 0.5s;
  color: white;
}
.pagination__page-number:hover {
  background-color: var(--blue);
  color: white;
  transition: 0.5s;
}
.pagination__go-button {
  box-sizing: border-box;
  border: 2px solid var(--blue);
  color: var(--blue);
  width: 76px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pagination__go-button.inactive {
  border-color: lightgray;
  color: lightgray;
  cursor: default;
}
.title-wrapper {
  display: flex;
  width: 100%;
  justify-content: start;
  margin-top: 27px;
}
.table-title {
  color: #414141;
}
.ads-table {
  margin-top: 27px;
  grid-template-columns: 1fr 1fr 4fr 2fr minmax(260px, 4fr) 2fr 2fr 3fr 2fr;
}
.table {
  display: grid;
  flex-direction: row;
  width: 100%;
  flex-direction: column;
}
.row-wrapper {
  display: contents;
}
.row-wrapper:hover > div > div.selectable {
  background-color: #dcf4ff;
}
.control-edit {
  cursor: pointer;
}
.table.vacancies {
  margin-top: 27px;
  grid-template-columns: 50px 1fr 7fr 1fr 1fr 6fr 1fr;
}

.table__row {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.table__row-item {
  flex: 1;
  display: flex;
  border: 1px solid lightgray;
  align-items: end;
  padding: 5px;
  height: 33px;
}
.table__row-item.title.center {
  justify-content: center;
}

.table__row-item.title.center > p {
  padding-left: 0;
}

.title.table__row-item > p {
  text-transform: uppercase;
  color: gray;
  padding-left: 10px;
}
.table__row-item > span {
  color: gray;
  font-size: 20px;
}
.table__row-item > input {
  color: #414141;
  outline: none;
  border: none;
  background-color: transparent;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 18px;
  width: 100%;
}

.table__row-item > span.icon.control-edit {
  color: var(--light-blue);
  width: 100%;
  text-align: center;
  font-size: 32px;
}
.table__row-item > span.icon.control-edit:hover {
  color: var(--blue);
}

.table__row-item {
  align-items: center;
}
.table__row-item > p {
  color: #414141;
}
p.source {
  border-radius: 50px;
  background-color: var(--orange);
  padding: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--dark-orange);
}
p.source.published {
  color: var(--green);
  background-color: var(--light-green);
}
.table-row__item.title.date{
  cursor: default;
}
p.date {
  text-decoration: #5098c8 dashed underline;
  color: #5098c8;
  text-underline-offset: 3px;
  text-align: right;
  width: 100%;
}
.selectable:hover + .selectable {
  background-color: #dcf4ff;
}
.table__row-item.date:not(.title){
  cursor: pointer;
}

.title{
  position: relative;
}
.hint{
  overflow: hidden;
  position: absolute;
  top: 0;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateY(32px) translateX(-5px);
  border: 1px solid lightgray;
  box-sizing: border-box;
  row-gap: 5px;
  z-index: 3;
}
.hint__row{
  padding-left: 10px;
}
.hint__row:hover{
  background-color: #b1f1ff;
}